@import './colors';
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.shadow-bg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 500;
}
.ul-list {
	list-style: none;
	color: $gray-color;
}
.main {
	height: 50vh;
}
.header {
	position: relative;
}
.nav-desktop {
	display: none;
}
.nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em;
	&__icon {
		position: fixed;
		right: 5%;
		z-index: 9999;
		cursor: pointer;
		&--close {
			display: none;
		}
	}
	&__mobile {
		position: fixed;
		top: 0;
		right: -80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100vh;
		width: 225px;
		background-color: $white-color;
		z-index: 1000;
		&-list {
			align-self: flex-start;
			margin: 4em 0 0 1em;
			font-size: 2rem;
			a {
				text-decoration: none;
				color: $gray-color;
			}
			&-item {
				padding-bottom: 1em;
			}
			&-icon {
				margin-left: 0.3em;
			}
		}
		&-btn {
			width: 80%;
			padding: 0.5em 1em;
			background: transparent;
			border-radius: 20px;
			font-size: 2rem;
			border: 2px solid transparent;
			color: $gray-color;
			transition: border 0.3s;
			cursor: pointer;
			&:hover {
				border: 2px solid $gray-color;
			}
			&--register {
				margin-top: 0.5em;
				border: 2px solid $gray-color;
			}
		}
	}
	&__second-menu {
		display: none;
		margin-top: 1em;
		margin-left: 1em;
		&-item {
			display: flex;
			align-items: center;
			margin-bottom: 1em;
			opacity: 0;
			cursor: pointer;
			img {
				padding-right: 0.5em;
				width: 30px;
				height: 20px;
			}
		}
	}
	&__company {
		display: none;
		margin-top: 1em;
		margin-left: 1em;
		&-item {
			margin-bottom: 1em;
			cursor: pointer;
			opacity: 0;
		}
	}
}
@keyframes showMenu {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.hide-nav-btn {
	display: none;
}
.show-close-btn {
	display: block;
}
.show-nav {
	right: 0;
}
.foto {
	&__img {
		max-width: 100%;
		width: auto;
	}
}
.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__header {
		color: $black-color;
		padding: 0.5em 0;
		font-size: 4rem;
	}
	&__text {
		padding: 0.5em;
		font-size: 2rem;
		color: $gray-color;
		text-align: center;
		line-height: 3rem;
	}
	&__button {
		margin-top: 1em;
		color: $white-color;
		font-weight: 700;
		background-color: $black-color;
		padding: 1em 2em;
		border: none;
		border-radius: 1rem;
	}
}
.icons {
	margin-top: 4em;
	&__box {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 1em;
		padding: 1em 0.5em;
		&-img:nth-child(1) {
			width: 84px;
			height: 2rem;
		}
		&-img:nth-child(2) {
			width: 50px;
			height: 3rem;
		}
		&-img:nth-child(3) {
			width: 74px;
			height: 1.8rem;
		}
		&-img:nth-child(4) {
			width: 74px;
			height: 2rem;
		}
	}
}

@media (min-width: 768px) {
	.foto {
		display: flex;
		justify-content: center;
	}
	.box {
		margin-top: 3em;
		&__header {
			font-size: 5rem;
		}
		&__text {
			font-size: 2.5rem;
		}
		&__button {
			padding: 1em 2em;
			font-size: 2.5rem;
		}
	}
	.icons {
		margin-top: 2em;
	}
}
@media (min-width: 996px) {
	.header {
		display: none;
	}
	.nav-desktop {
		padding: 3em;
		display: grid;
		grid-template-columns: 150px 450px 1fr;
		&-box{
			display: flex;
			align-items: center;
		}
		&-logo{
			width: 120px;
		}
		&__menu {
			display: flex;
			align-items: center;
			justify-content: space-between;
			&-item {
				list-style: none;
				color: $gray-color;
				font-size: 2.5rem;
				
				&-link {
					img{
						color: yellow;
					}
					display: flex;
					align-items: center;
					text-decoration: none;
					color: $gray-color;
				}
			}
		}
		&__box {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			&-btn {
				padding: 0.5em 1em;
				background: transparent;
				border-radius: 20px;
				font-size: 2rem;
				border: 2px solid transparent;
				color: $gray-color;
				transition: border 0.3s;
				cursor: pointer;
				&:hover {
					border: 2px solid $gray-color;
				}
				&--register {
					border: 2px solid $gray-color;
				}
			}
		}
	}
}
